<!doctype html>
<html lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>eCommerce HTML-5 Template </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- CSS here -->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
        <link rel="stylesheet" href="assets/css/flaticon.css">
        <link rel="stylesheet" href="assets/css/slicknav.css">
        <link rel="stylesheet" href="assets/css/animate.min.css">
        <link rel="stylesheet" href="assets/css/magnific-popup.css">
        <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
        <link rel="stylesheet" href="assets/css/themify-icons.css">
        <link rel="stylesheet" href="assets/css/slick.css">
        <link rel="stylesheet" href="assets/css/nice-select.css">
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="stylesheet" href="assets/css/pruebacss.css">
</head>

<body>
    
    <header>
        <!-- Header Start -->




            <!-- Full-width images with number and caption text -->


            <!--div class="mySlides fade">
                <div class="numbertext">2 / 3</div>
                <img src="assets/img/logo/logo.png" style="width:100%" alt="">
                <div class="text">Caption Two</div>
            </div>

            <div class="mySlides fade">
                <div class="numbertext">3 / 3</div>
                <img src="assets/img/logo/logo.png" style="width:100%" alt="">
                <div class="text">Caption Three</div>
            </div>

            <Next and previous buttons >
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a-->

        <br>

        <!-- The dots/circles -->

       <div class="header-area">
            <div class="main-header ">
                <div class="header-top top-bg d-none d-lg-block">
                   <div class="container-fluid">
                       <div class="col-xl-12">
                            <div class="row d-flex justify-content-between align-items-center">
                                <div class="header-info-left d-flex">



                                </div>
                                <div class="header-info-right">
                                    <div class="header-info-right">
                                        <ul>
                                            <li><a href="login.html">Inicio</a></li>
                                            <li><a href="product_list.html">Productos</a></li>
                                            <li><a href="cart.html">Contactenos</a></li>
                                            <li > <a href="#" class="btn header-btn">Iniciar sesión</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                       </div>
                   </div>
                </div>

            </div>
       </div>
        <!-- Header End -->
    </header>

    <!-- slider Area Start-->
    <!--div class="slider-area ">
        < Mobile Menu >
        <div class="single-slider slider-height2 d-flex align-items-center" data-background="assets/img/hero/category.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>Login</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div-->
    <!-- slider Area End-->

    <!--================login_part Area =================-->
    <section class="login_part section_padding ">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-1">



                        <div class="login_part_text_iner">
                            <img src="assets/img/feria.jpg" style="width:100%" alt="">


                        </div>

                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="login_part_form">
                        <div class="login_part_form_iner">
                            <h3>Bienvenidos <br>
                                A su féria del agricultor virtual</h3>
                            <form class="row contact_form" action="#" method="post" novalidate="novalidate">
                                <div class="col-md-12 form-group p_star">
                                    <input type="text" class="form-control" id="name" name="name" value=""
                                        placeholder="Nombre">
                                </div>
                                <div class="col-md-12 form-group p_star">
                                    <input type="password" class="form-control" id="password" name="password" value=""
                                        placeholder="Contraseña">
                                </div>
                                <div class="col-md-12 form-group">
                                    <div class="creat_account d-flex align-items-center">
                                        <input type="checkbox" id="f-option" name="selector">
                                        <label for="f-option">Recordar contraseña</label>
                                    </div>
                                    <button type="submit" value="submit" class="btn_3">
                                        Iniciar sesión
                                    </button>
                                    <button type="submit" value="submit" class="btn_3">
                                       Crear cuenta
                                    </button>
                                    <a class="lost_pass" href="#">Olvido su contraseña?</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================login_part end =================-->



<!-- JS here -->

    <!-- All JS Custom Plugins Link Here here -->


</body>
    
</html>