<header xmlns="http://www.w3.org/1999/html">
  <!-- Header Start -->




  <!-- Full-width images with number and caption text -->


  <!--div class="mySlides fade">
      <div class="numbertext">2 / 3</div>
      <img src="assets/img/logo/logo.png" style="width:100%" alt="">
      <div class="text">Caption Two</div>
  </div>

  <div class="mySlides fade">
      <div class="numbertext">3 / 3</div>
      <img src="assets/img/logo/logo.png" style="width:100%" alt="">
      <div class="text">Caption Three</div>
  </div>

  <Next and previous buttons >
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a-->

  <!--  <br>-->

  <!-- The dots/circles -->

  <div class="header-area">
    <div class="main-header ">
      <div class="header-top top-bg d-none d-lg-block">
        <div class="container-fluid">
          <div class="col-xl-12">
            <div class="row d-flex justify-content-between align-items-center">
              <div class="header-info-left d-flex">



              </div>
              <div class="header-info-right">
                <div class="header-info-right">
                  <ul>
                    <li><a routerLink="/home" routerLinkActive="active" href="">Inicio</a></li>
                    <li><a routerLink="/products" routerLinkActive="active" href="">Productos</a></li>
                    <li><a routerLink="/contact" routerLinkActive="active" href="">Contactenos</a></li>
                    <li style="margin-left: 30px"> <a href="#" class="btn header-btn">Iniciar sesión</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- Header End -->
</header>

<!-- slider Area Start-->
<div class="slider-area ">
  <!--    < Mobile Menu >-->
  <div class="single-slider slider-height2 d-flex align-items-center" style="
    /*background-image: url('assets/img/feria5.jpg')*/
    margin-bottom: -20%;
">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="hero-cap text-center">
            <h2>EnferiaTec</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- slider Area End-->

<!--================login_part Area =================-->
<section class="login_part section_padding ">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-1">





        <div class="login_part_text_iner">
          <img src="assets/img/feria2.jpg" style="width:100%" alt="">


        </div>

      </div>
      <div class="col-lg-6 col-md-6">
        <div class="login_part_form">
          <div class="login_part_form_iner">
            <h3>Bienvenidos <br>
             </h3>

            <h4>EnferiaTEC es una aplicación web y móvil encargada de ayudar a los agricultores a sacar el máximo provecho a la venta de sus productos de una manera más fácil, esto debido a que comúnmente los agricultores venden sus productos asistiendo a las ferias del agricultor, este proceso aunque bien se ha utilizado por muchos años, no se está explotando de la manera adecuada.
            </h4>

          </div>
        </div>
      </div>
    </div>
  </div>



</section>




