<!-- Preloader Start -->
<div id="preloader-active">
  <div class="preloader d-flex align-items-center justify-content-center">
    <div class="preloader-inner position-relative">
      <div class="preloader-circle"></div>
      <div class="preloader-img pere-text">
        <img src="assets/img/logo/logo.png" alt="">
      </div>
    </div>
  </div>
</div>
<!-- Preloader Start -->

<header>
  <div class="header-area">
    <div class="main-header ">
      <div class="header-top top-bg d-none d-lg-block">
        <div class="container-fluid">
          <div class="col-xl-12">
            <div class="row d-flex justify-content-between align-items-center">
              <div class="header-info-left d-flex">



              </div>
              <div class="header-info-right">
                <div class="header-info-right">
                  <ul>
                    <li><a routerLink="/home" routerLinkActive="active" href="">Inicio</a></li>
                    <li><a routerLink="/products" routerLinkActive="active" href="">Productos</a></li>
                    <li><a routerLink="/contact" routerLinkActive="active" href="">Contactenos</a></li>
                    <li style="margin-left: 30px"> <a href="#" class="btn header-btn">Iniciar sesión</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</header>

<main>

  <!-- slider Area Start-->
  <div class="slider-area ">
    <!-- Mobile Menu -->
    <div class="single-slider slider-height2 d-flex align-items-center" style="background-image: url('assets/img/feria3.jpg')">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="hero-cap text-center">
              <h2>Productos</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- slider Area End-->

  <!-- Latest Products Start -->
  <section class="latest-product-area latest-padding">
    <div class="container">
      <div class="row product-btn d-flex justify-content-between">
        <div class="properties__button">
          <!--Nav Button  -->
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Todo</a>
              <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab"  role="tab" aria-controls="nav-profile" aria-selected="false">Nuevo</a>

            </div>
          </nav>
          <!--End Nav Button  -->
        </div>

      </div>
      <!-- Nav Card -->
      <div class="tab-content" id="nav-tabContent">
        <!-- card one -->
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="single-product mb-60">
                <div class="product-img">
                  <img src="/assets/img/papa.jpg" alt="">
                  <div class="new-product">

                  </div>
                </div>
                <div class="product-caption">
                  <div class="product-ratting">
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star low-star"></i>
                    <i class="far fa-star low-star"></i>
                  </div>

                  <div class="price">
                    <ul>
                      <li>1000 colones </li>
                      <li class="discount">800 colones</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="single-product mb-60">
                <div class="product-img">
                  <img src="../../../assets/img/culantro.png" alt="">
                </div>
                <div class="product-caption">
                  <div class="product-ratting">
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star low-star"></i>
                    <i class="far fa-star low-star"></i>
                  </div>

                  <div class="price">
                    <ul>
                      <li>400 colones</li>
                      <li class="discount">350 colones</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="single-product mb-60">
                <div class="product-img">
                  <img src="../../../assets/img/tomate.jpg" alt="">
                  <div class="new-product">

                  </div>
                </div>
                <div class="product-caption">
                  <div class="product-ratting">
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star low-star"></i>
                    <i class="far fa-star low-star"></i>
                  </div>

                  <div class="price">
                    <ul>
                      <li>800 colones</li>
                      <li class="discount">750 colones</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="single-product mb-60">
                <div class="product-img">
                  <img src="../../../assets/img/zana.jpg" alt="">
                </div>
                <div class="product-caption">
                  <div class="product-ratting">
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star low-star"></i>
                    <i class="far fa-star low-star"></i>
                  </div>
                  <div class="price">
                    <ul>
                      <li>700 colones</li>
                      <li class="discount">650 colones</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="single-product mb-60">
                <div class="product-img">
                  <img src="../../../assets/img/apio.jpg" alt="">
                </div>
                <div class="product-caption">
                  <div class="product-ratting">
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star low-star"></i>
                    <i class="far fa-star low-star"></i>
                  </div>

                  <div class="price">
                    <ul>
                      <li>200 colones</li>
                      <li class="discount">150 colones</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="single-product mb-60">
                <div class="product-img">
                  <img src="../../../assets/img/yuca.jpg" alt="">
                  <div class="new-product">

                  </div>
                </div>
                <div class="product-caption">
                  <div class="product-ratting">
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star low-star"></i>
                    <i class="far fa-star low-star"></i>
                  </div>

                  <div class="price">
                    <ul>
                      <li>500 colones </li>
                      <li class="discount">450 colones</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Card two -->
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="single-product mb-60">
                <div class="product-img">
                  <img src="../../../assets/img/categori/product4.png" alt="">
                </div>
                <div class="product-caption">
                  <div class="product-ratting">
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star low-star"></i>
                    <i class="far fa-star low-star"></i>
                  </div>
                  <h4><a href="#">Green Dress with details</a></h4>
                  <div class="price">
                    <ul>
                      <li>$40.00</li>
                      <li class="discount">$60.00</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="single-product mb-60">
                <div class="product-img">
                  <img src="../../../assets/img/categori/product5.png" alt="">
                </div>
                <div class="product-caption">
                  <div class="product-ratting">
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star low-star"></i>
                    <i class="far fa-star low-star"></i>
                  </div>
                  <h4><a href="#">Green Dress with details</a></h4>
                  <div class="price">
                    <ul>
                      <li>$40.00</li>
                      <li class="discount">$60.00</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="single-product mb-60">
                <div class="product-img">
                  <img src="../../../assets/img/categori/product6.png" alt="">
                  <div class="new-product">
                    <span>New</span>
                  </div>
                </div>
                <div class="product-caption">
                  <div class="product-ratting">
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star low-star"></i>
                    <i class="far fa-star low-star"></i>
                  </div>
                  <h4><a href="#">Green Dress with details</a></h4>
                  <div class="price">
                    <ul>
                      <li>$40.00</li>
                      <li class="discount">$60.00</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="single-product mb-60">
                <div class="product-img">
                  <img src="../../../assets/img/categori/product2.png" alt="">
                </div>
                <div class="product-caption">
                  <div class="product-ratting">
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star low-star"></i>
                    <i class="far fa-star low-star"></i>
                  </div>
                  <h4><a href="#">Green Dress with details</a></h4>
                  <div class="price">
                    <ul>
                      <li>$40.00</li>
                      <li class="discount">$60.00</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="single-product mb-60">
                <div class="product-img">
                  <img src="../../../assets/img/categori/product3.png" alt="">
                  <div class="new-product">
                    <span>New</span>
                  </div>
                </div>
                <div class="product-caption">
                  <div class="product-ratting">
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star low-star"></i>
                    <i class="far fa-star low-star"></i>
                  </div>
                  <h4><a href="#">Green Dress with details</a></h4>
                  <div class="price">
                    <ul>
                      <li>$40.00</li>
                      <li class="discount">$60.00</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="single-product mb-60">
                <div class="product-img">
                  <img src="../../../assets/img/categori/product1.png" alt="">
                  <div class="new-product">
                    <span>New</span>
                  </div>
                </div>
                <div class="product-caption">
                  <div class="product-ratting">
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star low-star"></i>
                    <i class="far fa-star low-star"></i>
                  </div>
                  <h4><a href="#">Green Dress with details</a></h4>
                  <div class="price">
                    <ul>
                      <li>$40.00</li>
                      <li class="discount">$60.00</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Card three -->
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="single-product mb-60">
                <div class="product-img">
                  <img src="../../../assets/img/categori/product2.png" alt="">
                </div>
                <div class="product-caption">
                  <div class="product-ratting">
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star low-star"></i>
                    <i class="far fa-star low-star"></i>
                  </div>
                  <h4><a href="#">Green Dress with details</a></h4>
                  <div class="price">
                    <ul>
                      <li>$40.00</li>
                      <li class="discount">$60.00</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="single-product mb-60">
                <div class="product-img">
                  <img src="../../../assets/img/categori/product3.png" alt="">
                  <div class="new-product">
                    <span>New</span>
                  </div>
                </div>
                <div class="product-caption">
                  <div class="product-ratting">
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star low-star"></i>
                    <i class="far fa-star low-star"></i>
                  </div>
                  <h4><a href="#">Green Dress with details</a></h4>
                  <div class="price">
                    <ul>
                      <li>$40.00</li>
                      <li class="discount">$60.00</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="single-product mb-60">
                <div class="product-img">
                  <img src="../../../assets/img/categori/product1.png" alt="">
                  <div class="new-product">
                    <span>New</span>
                  </div>
                </div>
                <div class="product-caption">
                  <div class="product-ratting">
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star low-star"></i>
                    <i class="far fa-star low-star"></i>
                  </div>
                  <h4><a href="#">Green Dress with details</a></h4>
                  <div class="price">
                    <ul>
                      <li>$40.00</li>
                      <li class="discount">$60.00</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="single-product mb-60">
                <div class="product-img">
                  <img src="../../../assets/img/categori/product4.png" alt="">
                </div>
                <div class="product-caption">
                  <div class="product-ratting">
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star low-star"></i>
                    <i class="far fa-star low-star"></i>
                  </div>
                  <h4><a href="#">Green Dress with details</a></h4>
                  <div class="price">
                    <ul>
                      <li>$40.00</li>
                      <li class="discount">$60.00</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="single-product mb-60">
                <div class="product-img">
                  <img src="../../../assets/img/categori/product6.png" alt="">
                  <div class="new-product">
                    <span>New</span>
                  </div>
                </div>
                <div class="product-caption">
                  <div class="product-ratting">
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star low-star"></i>
                    <i class="far fa-star low-star"></i>
                  </div>
                  <h4><a href="#">Green Dress with details</a></h4>
                  <div class="price">
                    <ul>
                      <li>$40.00</li>
                      <li class="discount">$60.00</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="single-product mb-60">
                <div class="product-img">
                  <img src="../../../assets/img/categori/product5.png" alt="">
                </div>
                <div class="product-caption">
                  <div class="product-ratting">
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star low-star"></i>
                    <i class="far fa-star low-star"></i>
                  </div>
                  <h4><a href="#">Green Dress with details</a></h4>
                  <div class="price">
                    <ul>
                      <li>$40.00</li>
                      <li class="discount">$60.00</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- card foure -->
        <div class="tab-pane fade" id="nav-last" role="tabpanel" aria-labelledby="nav-last-tab">
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="single-product mb-60">
                <div class="product-img">
                  <img src="../../../assets/img/categori/product1.png" alt="">
                  <div class="new-product">
                    <span>New</span>
                  </div>
                </div>
                <div class="product-caption">
                  <div class="product-ratting">
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star low-star"></i>
                    <i class="far fa-star low-star"></i>
                  </div>
                  <h4><a href="#">Green Dress with details</a></h4>
                  <div class="price">
                    <ul>
                      <li>$40.00</li>
                      <li class="discount">$60.00</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="single-product mb-60">
                <div class="product-img">
                  <img src="../../../assets/img/categori/product2.png" alt="">
                </div>
                <div class="product-caption">
                  <div class="product-ratting">
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star low-star"></i>
                    <i class="far fa-star low-star"></i>
                  </div>
                  <h4><a href="#">Green Dress with details</a></h4>
                  <div class="price">
                    <ul>
                      <li>$40.00</li>
                      <li class="discount">$60.00</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="single-product mb-60">
                <div class="product-img">
                  <img src="../../../assets/img/categori/product3.png" alt="">
                  <div class="new-product">
                    <span>New</span>
                  </div>
                </div>
                <div class="product-caption">
                  <div class="product-ratting">
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star low-star"></i>
                    <i class="far fa-star low-star"></i>
                  </div>
                  <h4><a href="#">Green Dress with details</a></h4>
                  <div class="price">
                    <ul>
                      <li>$40.00</li>
                      <li class="discount">$60.00</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="single-product mb-60">
                <div class="product-img">
                  <img src="../../../assets/img/categori/product4.png" alt="">
                </div>
                <div class="product-caption">
                  <div class="product-ratting">
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star low-star"></i>
                    <i class="far fa-star low-star"></i>
                  </div>
                  <h4><a href="#">Green Dress with details</a></h4>
                  <div class="price">
                    <ul>
                      <li>$40.00</li>
                      <li class="discount">$60.00</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="single-product mb-60">
                <div class="product-img">
                  <img src="../../../assets/img/categori/product5.png" alt="">
                </div>
                <div class="product-caption">
                  <div class="product-ratting">
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star low-star"></i>
                    <i class="far fa-star low-star"></i>
                  </div>
                  <h4><a href="#">Green Dress with details</a></h4>
                  <div class="price">
                    <ul>
                      <li>$40.00</li>
                      <li class="discount">$60.00</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="single-product mb-60">
                <div class="product-img">
                  <img src="../../../assets/img/categori/product6.png" alt="">
                  <div class="new-product">
                    <span>New</span>
                  </div>
                </div>
                <div class="product-caption">
                  <div class="product-ratting">
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star low-star"></i>
                    <i class="far fa-star low-star"></i>
                  </div>
                  <h4><a href="#">Green Dress with details</a></h4>
                  <div class="price">
                    <ul>
                      <li>$40.00</li>
                      <li class="discount">$60.00</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Nav Card -->
    </div>
  </section>
  <!-- Latest Products End -->

  <!-- Latest Offers Start -->

  <!-- Shop Method End-->
  <!-- Gallery Start-->

  <!-- Gallery End-->

</main>
