<header>
  <div class="header-area">
    <div class="main-header ">
      <div class="header-top top-bg d-none d-lg-block">
        <div class="container-fluid">
          <div class="col-xl-12">
            <div class="row d-flex justify-content-between align-items-center">
              <div class="header-info-left d-flex">



              </div>
              <div class="header-info-right">
                <div class="header-info-right">
                  <ul>
                    <li><a href="login.html">Inicio</a></li>
                    <li><a href="product_list.html">Productos</a></li>
                    <li><a href="cart.html">Contactenos</a></li>
                    <li > <a href="#" class="btn header-btn">Iniciar sesión</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- Header End -->
</header>

<!-- slider Area Start-->
<div class="slider-area ">
  <!-- Mobile Menu -->
  <div class="single-slider slider-height2 d-flex align-items-center" data-background="assets/img/hero/category.jpg">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="hero-cap text-center">
            <h2>Pago</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- slider Area End-->

<!--================Checkout Area =================-->
<section class="checkout_area section_padding">
  <div class="container">

    <div class="billing_details">
      <div class="row">
        <div class="col-lg-8">
          <h3>Dirección de envío</h3>
          <form class="row contact_form" action="#" method="get" novalidate="novalidate">
            <div class="col-md-6 form-group p_star">
              <input type="text" class="form-control" id="cedula" name="cedula" />
              <span class="placeholder" data-placeholder="Número de cédula"></span>
            </div>
            <div class="col-md-6 form-group p_star">
              <input type="text" class="form-control" id="first" name="name" />
              <span class="placeholder" data-placeholder="Nombre"></span>
            </div>
            <div class="col-md-6 form-group p_star">
              <input type="text" class="form-control" id="last" name="name" />
              <span class="placeholder" data-placeholder="Apellidos"></span>
            </div>
            <div class="col-md-6 form-group p_star">
              <input type="text" class="form-control" id="Provincia" name="name" />
              <span class="placeholder" data-placeholder="Provincia"></span>
            </div>
            <div class="col-md-6 form-group p_star">
              <input type="text" class="form-control" id="Canton" name="name" />
              <span class="placeholder" data-placeholder="Cantón"></span>
            </div>
            <div class="col-md-6 form-group p_star">
              <input type="text" class="form-control" id="Distrito" name="name" />
              <span class="placeholder" data-placeholder="Distrito"></span>
            </div>
            <div class="col-md-6 form-group p_star">
              <input type="text" class="form-control" id="nacimiento" name="name" />
              <span class="placeholder" data-placeholder="Fecha Nacimiento"></span>
            </div>
            <div class="col-md-6 form-group p_star">
              <input type="text" class="form-control" id="number" name="number" />
              <span class="placeholder" data-placeholder="Teléfono"></span>
            </div>
            <div class="col-md-6 form-group p_star">
              <input type="text" class="form-control" id="Sinpe" name="name" />
              <span class="placeholder" data-placeholder="Número Sinpe"></span>
            </div>
            <div class="col-md-6 form-group p_star">
              <input type="text" class="form-control" id="lugarentraga" name="compemailany" />
              <span class="placeholder" data-placeholder="Lugar de Entrega"></span>
            </div>




          </form>
        </div>
        <div class="col-lg-4">
          <div class="order_box">
            <h2>Orden</h2>
            <ul class="list">
              <li>
                <a href="#">Product
                  <span>Total</span>
                </a>
              </li>
              <li>
                <a href="#">Manzana
                  <span class="middle">x 02</span>
                  <span class="last">720.00</span>
                </a>
              </li>
              <li>
                <a href="#">Tomates
                  <span class="middle">x 02</span>
                  <span class="last">820.00</span>
                </a>
              </li>
              <li>
                <a href="#">Brocoli
                  <span class="middle">x 02</span>
                  <span class="last">900.00</span>
                </a>
              </li>
            </ul>
            <ul class="list list_2">
              <li>
                <a href="#">Subtotal
                  <span>2440.00</span>
                </a>
              </li>
              <li>
                <a href="#">Compra
                  <span>Entrega: 1000.00</span>
                </a>
              </li>
              <li>
                <a href="#">Total
                  <span>34400.00</span>
                </a>
              </li>
            </ul>


            <a class="btn_3" href="#">Procesar Pedido</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Checkout Area =================-->
