<header>
  <div class="header-area">
    <div class="main-header ">
      <div class="header-top top-bg d-none d-lg-block">
        <div class="container-fluid">
          <div class="col-xl-12">
            <div class="row d-flex justify-content-between align-items-center">
              <div class="header-info-left d-flex">



              </div>
              <div class="header-info-right">
                <div class="header-info-right">
                  <ul>
                    <li><a href="login.html">Inicio</a></li>
                    <li><a href="product_list.html">Productos</a></li>
                    <li><a href="cart.html">Contactenos</a></li>
                    <li > <a href="#" class="btn header-btn">Iniciar sesión</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- Header End -->
</header>

<!-- slider Area Start-->
<div class="slider-area ">
  <!-- Mobile Menu -->
  <div class="single-slider slider-height2 d-flex align-items-center" style="background-image: url('assets/img/feria2.jpg') ">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="hero-cap text-center">
            <h2 style="color: white; text-shadow: black 2px 2px">Lista de Compras</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- slider Area End-->

<!--================Cart Area =================-->
<section class="cart_area section_padding">
  <div class="container">
    <div class="cart_inner">
      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">Product0</th>
            <th scope="col">Precio</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Total</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <div class="media">
                <div class="d-flex">
                  <img src="assets/img/arrivel/arrivel_1.png" alt="" />
                </div>
                <div class="media-body">
                  <p>Minimalistic shop for multipurpose use</p>
                </div>
              </div>
            </td>
            <td>
              <h5>$360.00</h5>
            </td>
            <td>
              <div class="product_count">
                <!-- <input type="text" value="1" min="0" max="10" title="Quantity:"
                  class="input-text qty input-number" />
                <button
                  class="increase input-number-increment items-count" type="button">
                  <i class="ti-angle-up"></i>
                </button>
                <button
                  class="reduced input-number-decrement items-count" type="button">
                  <i class="ti-angle-down"></i>
                </button> -->
                <span class="input-number-decrement"> <i class="ti-minus"></i></span>
                <input class="input-number" type="text" value="1" min="0" max="10">
                <span class="input-number-increment"> <i class="ti-plus"></i></span>
              </div>
            </td>
            <td>
              <h5>$720.00</h5>
            </td>
          </tr>
          <tr>
            <td>
              <div class="media">
                <div class="d-flex">
                  <img src="assets/img/arrivel/arrivel_2.png" alt="" />
                </div>
                <div class="media-body">
                  <p>Minimalistic shop for multipurpose use</p>
                </div>
              </div>
            </td>
            <td>
              <h5>$360.00</h5>
            </td>
            <td>
              <div class="product_count">
                <span class="input-number-decrement"> <i class="ti-minus"></i></span>
                <input class="input-number" type="text" value="1" min="0" max="10">
                <span class="input-number-increment"> <i class="ti-plus"></i></span>
              </div>
            </td>
            <td>
              <h5>$720.00</h5>
            </td>
          </tr>
          <tr class="bottom_button">
            <td>
              <a class="btn_1" href="#">Actualizar Carro </a>
            </td>
            <td></td>
            <td></td>

          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>
              <h5>Subtotal</h5>
            </td>
            <td>
              <h5>$2160.00</h5>
            </td>
          </tr>
          <tr class="shipping_area">


          </tr>
          </tbody>
        </table>
        <div class="checkout_btn_inner float-right">
          <a class="btn_1" href="#">Continuar comprando</a>
          <a class="btn_1 checkout_btn_1" href="#">Proceder</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Cart Area =================-->
